* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

@keyframes slidein {
  0% {
    margin-left: 300%;
    display: flex;
    justify-content: center;
    width: 625px;
  }

  100% {
    margin-left: 0%;
    display: flex;
    justify-content: center;
    width: 625px;
  }
}

@keyframes latidos {
    from { 
    	transform: none; 
    	position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px;

    }
    50% { 

    	transform: scale(2);
		position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px;
     }
    to { 
    	transform: none;
    	position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px; 
	}
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	line-height: 150%
}


li{
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
  	position: fixed;
  	top: 0px;
	background: #C62828;
	border-bottom: 1px solid #000;	
	width: 100%;
	height: auto;
	z-index: 10;
  	padding: 20px;
}

header nav {
	display: inline-block;
}

header a h1{
	font-family: 'Rock Salt', cursive;
	font-size: 1.3rem;
	text-shadow: 1px 2px 0 #fee10a;
	color: #000;
}

header nav ul li {
	display: inline-block;
	font-size: 0.9rem;
	text-transform: uppercase;
	margin: 0 10px;
}


header nav ul li a {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 10px;
}


header nav ul li a:hover {
	position: relative;
	top: 0px;
 	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  	background-color: #c51414;
  	color: #ecf0f1;
  	padding: 10px;
}



section {
	padding: 20px;
}

/* Portada */

.portada {
	display: flex;
	flex-direction: column-reverse;
	background: url(../img/background.jpg) no-repeat fixed;
	background-size: cover;
	width: 	100%;
	height: 100vh;
	justify-content: space-between;
}

.titulo {
	display: block;
	position: relative;	
	background-color: #C62828;
	font-size: 2.5rem;
	color: #fff;	
	align-self: center;
	padding: 25px;
	font-family: 'Rock Salt', cursive;
	text-shadow: 3px 4px 0 black;
	animation-duration: 1s;
  	animation-name: slidein;
  	animation-direction: alternate;
}



.portada a{
	padding: 5px 20px;
	align-self: flex-end;
}

.portada img {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 150px;
	height: 150px;
	animation: latidos 1.5s 2;
}


/* Integrantes */


.barra_titulo {
	background-color: #C62828;
	width: 100%;
	padding: 20px;
	color: white;
	font-size: 1rem;
	line-height: 150%;
	border-radius: 10px 10px 0px 0px;
}

.barra_titulo h2{
	font-weight: 400;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}


.integrantes ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	justify-content: space-around;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	border-radius: 10px;
}

.total_integrantes {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 30px 0px;
	width: 250px;
	height: 250px;
	border: 15px solid #cfb600;
	border-radius: 100%;
	-webkit-box-shadow: 10px 1px 15px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 10px 1px 15px 0px rgba(0,0,0,0.65);
	box-shadow: 10px 1px 15px 0px rgba(0,0,0,0.65);
}

.total_integrantes:hover {
	border: 15px solid #C62828;
}


.img-integrantes {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	align-self: center;
}

.icon-rs {
	position: relative;
	top: -200px;
	width: 50px;
	height: 50px;
	align-self: center;
	display: none;
}

.total_integrantes:hover > .img-integrantes {
	opacity: 0.1;
  	transition: 1s;
}

.total_integrantes h2 {
	color: #c51414;
	font-size: 1.4rem;
	position: relative;
	align-self: center;
	top: -30%;
	display: none;
}

.total_integrantes p {
	color: #000;
	font-size: 1.2rem;
	font-weight: 500;
	position: relative;
	align-self: center;
	top: -30%;
	display: none;
}

.total_integrantes:hover > h2,
.total_integrantes:hover > p,
.total_integrantes:hover > .icon-rs {
	display: block;
}


/* Discografia */



.discografia ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 50px;
	background: #fff;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	border-radius: 10px;
	padding-bottom: 20px;
}


.titulo_barra {
		font-size: 1.5rem;
		line-height: 110%;
		font-weight: 400;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		background-color: #C62828;
		padding: 20px;
		color: white;
		border-radius: 10px 10px 0px 0px;
		width: 100%;
}

.titulo_discografia {
	width: 100%;
	text-align: center;
	padding: 30px 5px 0px 5px;
}

.titulo_discografia h2{
	font-weight: 400;
	font-size: 1.5rem;
	color: white;
	background: #212121;
	padding: 20px;
	border-radius: 100px 100px 0% 0%;
}

.albums {
	position: relative;
	padding: 5px;
}

.albums h2{
	color: #c51414;
	position: absolute;
	top: 70%;
	align-self: center;
	font-size: 1.1rem;
	display: none;
}

.albums a {
	display: flex;
	justify-content: center;
}

.albums p{
	color: black;
	position: absolute;
	padding: 5px;
	top: 80%;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 500;
	display: none;
}

.albums .album-titulo {
	color: #c51414;
	position: absolute;
	top: 65%;
	align-self: center;
	font-size: 1.1rem;
	display: none;
}

.albums .album-titulo-2 {
	color: #c51414;
	position: absolute;
	top: 73%;
	align-self: center;
	font-size: 1.1rem;
	display: none;
}

.albums .album-titulo-small {
	font-size: 0.7rem;
	display: none;
}

.albums a:hover > h2,
.albums a:hover > p,
.albums a:hover > .icon-disco,
.albums a:hover > .icon-ytb {
	display: block;
}

.albums img {
	width: 250px;
	height: 250px;
}

.albums .icon-ytb {
	position: absolute;
	top: 5%;
	right: 10px;
	width: 40px;
	height: 40px;
	align-self: center;
	display: none;
}

.albums .icon-disco {
	position: absolute;
	top: 40%;
	width: 100px;
	height: 50px;
	align-self: center;
	display: none;
}

.albums .icon-disco-doble {
	top: 20%;
}

.albums .icon-disco-rs {
	width: 60px;
	height: 60px;
}

.albums .icon-disco-vr {
	width: 120px;
	height: 70px;
}

a:hover > .albums-img {
	opacity: 0.05;
  	transition: 0.5s;
}


/* Historia */

.historia article {
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	margin-top: 50px;
	border-radius: 10px;
}

.historia h2 {
	font-weight: 400;
	line-height: 150%;
	position: relative;
	padding: 20px;
}

.historia p{
	font-weight: 300;
	line-height: 150%;
	position: relative;
	padding: 0px 20px;
}


.verMas {
	padding: 50px 0 50px 20px;
}

.verMas a{
	font-size: 1.2rem;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #C62828;
	color: #ecf0f1;
	padding: 20px 60px;
	text-transform: uppercase;
}

.verMas a:hover {
	-webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,1);
	box-shadow: 0px 4px 10px 1px rgba(0,0,0,1);
}


/* Noticias */

.noticias {
	margin-top: 50px;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	border-radius: 10px;
}

.noticias ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #fff;
	
	width: 95%;
}

.noticias ul li{
	display: flex;
	width: 33%;
	padding: 20px;
	-webkit-box-shadow: -1px 12px 5px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 5px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 5px 1px rgba(0,0,0,0.58);
	flex-direction: column;
}

.noticias ul li h3 {
	padding: 20px 0px;
}

.noticias ul li span {
	padding: 15px 0px;
	align-self: end;
	font-size: 0.8rem;
}


/* Contacto */


.contacto {
	height: auto;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	flex-direction: column;
	background: #e9e9e9;
	margin-top: 50px;
	padding-bottom: 20px;
	border-radius: 10px;
	}

.contacto div {
	position: relative;
	max-width: 50%;
	margin: auto;
	padding: 20px
}

.contacto form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: #fff;
	margin: 20px;
	border: 1px solid black;
}

.contacto .submit {
	font-size: 1.1rem;
	padding: 10px 5em;
	background: #f99104;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	width: 56%;
}

.contacto input {
	padding: 10px;
	width: 80%;
	margin: auto;
	border: 1px solid #CECCCC;
	color: #555;
}

.contacto input:focus {
	border:1px solid #000;
	background-color:#FFFDF4;

}

.contacto .usuario {
	background: url(../img/png/004-user.png) no-repeat 96% 55%;
}

.contacto .telefono {
	background: url(../img/png/003-smartphone.png) no-repeat 96% 55%;
}

.contacto .email {
	background: url(../img/png/002-email.png) no-repeat 96%;
}

.contacto .mensaje {
	background: url(../img/png/001-information-button.png) no-repeat 96% 5%;
}

.contacto textarea {
	width: 80%;
	height: 120px;
	outline: none;
	resize: none;
	margin-bottom: 1em;
	border: 1px solid #CECCCC;
	padding: .8em 4em .8em 1em;
	font-size: 1em;
	color: #555;
}

.contacto textarea:focus {
	border:1px solid #000;
	background-color:#FFFDF4;

}

.contacto form h3 {
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
	padding: 20px;
	color: #4b4b4b;
}


/* Footer */



footer {
	display: flex;
	background: #212121;
	color: #fff;
	top: 0;
	/*! padding: 10px; */
	width: 100%;
	height: auto;
	overflow: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.opciones {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #C62828;
	text-transform: uppercase;
}


.opciones li {
	padding: 0px 20px;
	display: inline-block;
}

.opciones li a {
	font-size: 0.9rem;
}


.contacto_footer {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	list-style: none;
	padding: 10px;
	width: 100%;
	justify-content: space-evenly;
}


.contacto_footer li{
	padding: 0px 0px 20px;
}

.contacto_footer li a:before {
	content: url(../img/png/contacto.png);
	position: relative;
	right: 10px;
	top: 5px;
}

.copyright {
	display: block;
	width: 100%;
	font-size: 0.8rem;
	text-align: center;
	color: gray;
}

.footer_tel:before {
	content: url(../img/png/telefono.png);
	position: relative;
	right: 10px;
	top: 7px;
}

.social {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	list-style: none;
	padding: 10px;
	width: 100%;
	justify-content: space-evenly;
}


.social li{
	padding: 20px;
}

.social_link {
	display: flex;
	flex-direction: column;
  	align-items: center;
	flex-wrap: wrap;
}

.social_link p {
	padding: 5px;
	font-size: 0.9rem;
}


.social li a img{
	width: 50px;
	height: 50px
}


.buttom {
	position: fixed;
	right: 50px;
	bottom: 10px;
	padding: 10px;
	border-radius: 2px;
 	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  	background-color: #c51414;
  	color: #ecf0f1;
	z-index: 10;
	overflow: auto;
}	


@media screen and (max-width: 1024px) {

	section {
		padding: 10px;
	}


	/* Noticias */

	.noticias ul {
		flex-direction: column;
	}

	.noticias ul li{
		width: 100%;
		padding: 10px;
	}


		/* Contacto */

	.contacto div {
		max-width: 70%;
		padding: 0;
	}

	.contacto form {
		padding: 10px 0px;
		margin: 10px;
	}

	.contacto .submit {
		font-size: 1rem;
		padding: 10px;
	}

	.contacto input {
		width: 95%;
		margin: auto;
	}

	.contacto textarea {
		width: 95%;
		color: #555;
	}

	.contacto form h3 {
		font-size: 1.2rem;
		text-align: center;
		font-weight: 400;
		padding: 20px;
		color: #4b4b4b;
	}

}


@media screen and (max-width: 768px) {
		
	section {
		padding: 5px;
	}
	

	/* Historia */

	.historia h2 {
		padding: 20px 10px;
	}

	.historia p{
		padding: 0px 10px;
	}

	.verMas {
		display: flex;
		padding: 30px 0 30px 20px;
		justify-content: center;
		flex-wrap: wrap;
	}


	.verMas a{
		font-size: 1rem;
		padding: 15px 30px;
		text-transform: uppercase;
	}

  

	/* Noticias */

	.noticias ul {
		flex-direction: column;
	}

	.noticias ul li{
		width: 100%;
		padding: 10px;
	}


	/* Contacto */

	.contacto div {
		max-width: 100%;
		padding: 0;
	}

	.contacto form {
		padding: 10px 0px;
		margin: 10px;
	}

	.contacto .submit {
		font-size: 1rem;
		padding: 10px;
	}

	.contacto input {
		width: 95%;
		margin: auto;
	}

	.contacto textarea {
		width: 95%;
		color: #555;
	}

	.contacto form h3 {
		font-size: 1.2rem;
		text-align: center;
		font-weight: 400;
		padding: 20px;
		color: #4b4b4b;
	}

	

  /*Footer*/

	.opciones {
		padding: 10px;
		width: 100%;
		display: block;
		border-bottom: 1px solid #C62828;
		text-transform: uppercase;
	}

	.opciones li {
		display: block;
	}

	.opciones li a {
		display: block;
		font-size: 1rem;
		width: 100%;
		text-align: center;
		padding: 10px;

	}

	.buttom {
		display: none;
	}	

}


@media screen and (max-width: 480px) {


	@keyframes slidein {
	  0% {
	    margin-left: 300%;
	    display: flex;
	    justify-content: center;
	    width: 350px;
	  }

	  100% {
	    margin-left: 0%;
	    display: flex;
	    justify-content: center;
	    width: 350px;
	  }
	}

	@keyframes latidos {
	    from { 
	    	transform: none; 
	    	position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px;

	    }
	    50% { 

	    	transform: scale(1.5);
			position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px;
	     }
	    to { 
	    	transform: none;
	    	position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px; 
		}
	}
  
  	
	.titulo {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.portada {
		background-position: 75% 80px;
	}

	.portada img {
	    top: 50%;
	    left: 35%;
	    width: 100px;
	    height: 100px;
	}


	/*Dentro de Integrantes y Discografia*/

	.barra_titulo {
		font-size: 1rem;
		text-align: center;
	}

	/*Discografia*/

  	.albums img {
		width: 300px;
		height: 300px;
	}

	/*Titulos de las otras seccions*/

	.titulo_barra {
		text-align: center;
	}
  
}




