* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

@keyframes slidein {
  0% {
    margin-left: 300%;
    display: flex;
    justify-content: center;
    width: 618px;
  }

  100% {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 618px;
  }
}

@keyframes latidos {
    from { 
    	transform: none; 
    	position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px;

    }
    50% { 

    	transform: scale(2);
		position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px;
     }
    to { 
    	transform: none;
    	position: absolute;
		top: 50%;
		left: 45%;
		width: 150px;
		height: 150px; 
	}
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	line-height: 150%
}


li{
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
  	position: fixed;
  	top: 0;
	background: #C62828;
	border-bottom: 1px solid #000;	
	width: 100%;
	height: auto;
	z-index: 10;
  	padding: 10px;
}

header nav {
	display: inline-block;
	padding: 5px;
}

.botton_ham {
    color: #fff;
    cursor: pointer;
    display: none;
}

.botton_ham img{
	width: 40px;
	height: 40px;
}

.botton_ham .close_img {
	display: none;
}

h1{
	font-family: 'Rock Salt', cursive;
	font-size: 1.1rem;
	text-shadow: 1px 2px 0 #fee10a;
	color: #000;
	padding: 5px;
}

header nav ul li {
	display: inline-block;
	font-size: 0.9rem;
	text-transform: uppercase;
	margin: 0 10px;
}


header nav ul li a {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 10px;
	font-weight: 400;
}


header nav ul li a:hover {
	position: relative;
	top: 0;
 	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  	background-color: #c51414;
  	color: #ecf0f1;
  	padding: 10px;
}



section {
	padding: 20px;
}

/* Portada */

.portada {
	display: flex;
	flex-direction: column-reverse;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	width: 	100%;
	height: 100vh;
	justify-content: space-between;
}

.titulo {
	display: block;
	position: relative;	
	background-color: #C62828;
	font-size: 2.4rem;
	color: #fff;	
	align-self: center;
	padding: 25px;
	font-family: 'Rock Salt', cursive;
	text-shadow: 3px 4px 0 black;
	animation-duration: 1s;
  	animation-name: slidein;
  	animation-direction: alternate;
}



.portada a{
	padding: 5px 20px;
	align-self: flex-end;
}

.portada img {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 150px;
	height: 150px;
	animation: latidos 1.5s 2;
}


/* Integrantes */


.barra_titulo {
	background-color: #C62828;
	width: 100%;
	padding: 20px;
	color: white;
	font-size: 0.9rem;
	line-height: 150%;
	border-radius: 10px 10px 0 0;
}

.barra_titulo h2{
	font-weight: 400;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}


.integrantes ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	justify-content: space-around;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	border-radius: 10px;
}

.total_integrantes {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	width: 250px;
	height: 250px;
	border: 15px solid #cfb600;
	border-radius: 100%;
	-webkit-box-shadow: 10px 1px 15px 0 rgba(0,0,0,0.65);
	-moz-box-shadow: 10px 1px 15px 0 rgba(0,0,0,0.65);
	box-shadow: 10px 1px 15px 0 rgba(0,0,0,0.65);
}

.total_integrantes:hover {
	border: 15px solid #C62828;
}


.img-integrantes {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	align-self: center;
}

.icon-rs {
	position: relative;
	top: -200px;
	width: 50px;
	height: 50px;
	align-self: center;
	display: none;
}

.total_integrantes:hover > .img-integrantes {
	opacity: 0.1;
  	transition: 1s;
}

.total_integrantes h2 {
	color: #c51414;
	font-size: 1.4rem;
	position: relative;
	align-self: center;
	top: -30%;
	display: none;
}

.total_integrantes p {
	color: #000;
	font-size: 1.2rem;
	font-weight: 500;
	position: relative;
	align-self: center;
	top: -30%;
	display: none;
}

.total_integrantes:hover > h2,
.total_integrantes:hover > p,
.total_integrantes:hover > .icon-rs {
	display: block;
}


/* Discografia */


.discografia ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 70px;
	background: #fff;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	border-radius: 10px;
	padding-bottom: 20px;
}


.titulo_barra {
		font-size: 1.4rem;
		line-height: 110%;
		font-weight: 400;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		background-color: #C62828;
		padding: 20px;
		color: white;
		border-radius: 10px 10px 0 0;
		width: 100%;
}

.titulo_discografia {
	width: 100%;
	text-align: center;
	padding: 30px 5px 0 5px;
}

.titulo_discografia h2{
	font-weight: 400;
	font-size: 1.5rem;
	color: white;
	background: #212121;
	padding: 20px;
	border-radius: 100px 100px 0 0;
}

.cierre_discografia,
.cierre_discografia_2 {
	width: 99%;
	background: #212121;
	border-radius: 0 0 100px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	cursor: pointer;
}

.flecha,
.flecha_2 {
	width: 50px;
	height: 50px;
	transform: rotate(180deg);
}


.albums {
	position: relative;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.albums h2{
	color: black;
	position: absolute;
	align-self: center;
	font-size: 1.1rem;
	display: block;
	bottom: 15%;
	width: 100%;
	padding: 10px;
	background: #fffc;
	text-align: center;
}

.albums p {
	color: black;
	position: absolute;
	align-self: center;
	font-size: 1.1rem;
	display: block;
	bottom: 5px;
	width: 100%;
	padding: 5px;
	background: #fffc;
	text-align: center;
}




.albums .album-titulo {
	color: black;
	position: absolute;
	bottom: 27%;
	align-self: center;
	font-size: 1.1rem;
	display: block;
}

.albums .album-titulo-2 {
	color: black;
	position: absolute;
	top: 73%;
	align-self: center;
	font-size: 1.1rem;
	display: block;
}

.albums .album-titulo-small {
	font-size: 1.1rem;
	display: block;
}

.albums img {
	width: 250px;
	height: 250px;
}


/* Modal */

.fondo_modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0px;
	z-index: 999;
	cursor: auto;
}

.modal {
	background: #fff;
	padding: 20px;
	width: 50%;
	border-radius: 10px;
	position: relative;
	clear: both;
	display: flex;
	flex-wrap: wrap;
}

.modal span {
	display: inline-block;
	width: 60%;
	position: relative;
	align-self: center;
	text-align: center;
}

.modal .escucha {
	width: 100%;
	text-align: center;
}

.fondo_modal .modal h2,
.fondo_modal .modal p{
	position: relative;
	display: inline-block;
	color: 	black;
	margin-bottom: 20px;
}

.fondo_modal .modal img {
	width: 75px;
	height: 50px;
	margin: 0 10px 10px 10px;
}

.fondo_modal .modal .icon-disco-rs {
	width: 60px;
	height: 60px;
}

.fondo_modal .modal a {
	margin: auto;
	z-index: 10;
	pointer-events: auto;
}

.fondo_modal .modal a .icon-ytb {
	width: 125px;
	margin: auto;
	padding: 10px;
	height: 50px;
}


.fondo_modal .modal .fa-times {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 10;
	pointer-events: auto;
}

/*Fotos*/

.fotos {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 70px;
	border-radius: 10px;
	width: 100%;
	background: white;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);

}
 .carousel {
 	display: flex;
 	width: 98%;
 	height: 600px;
 	margin: 20px 0px;
 	justify-content: space-between;
 	background: white;
 	border-radius: 10px;
 	background: white;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
 }

 .carousel_img {
 	width: 80%;
 	margin: 30px;
 	display: flex;
 	justify-content: center;
 }

 .arrow_container_left,
 .arrow_container_right {
	display: flex;
	padding: 10px;
	background: #272727;
}

.arrow_container_left {
	border-radius: 10px 0 0 10px;
}

.arrow_container_right {
	border-radius: 0 10px 10px 0;
}

 .carousel .arrow_right{
	transform: rotate(270deg);
	width: 50px;
	height: 50px;
	align-self: center;
 }

 .carousel .arrow_left{
	transform: rotate(90deg);
	width: 50px;
	height: 50px;
	align-self: center;
 }


.carousel_img img{
 	display: none;
 	width: 80%;
 }

.carousel_img .imagen_0 {
	display: block;
	position: inherit;
} 

/* Historia */


.historia div {
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	margin-top: 70px;
	border-radius: 10px;
}

.historia div article h2 {
	font-weight: 400;
	line-height: 150%;
	position: relative;
	padding: 20px;
	color: #212121;
}

.historia p{
	font-weight: 300;
	line-height: 150%;
	position: relative;
	padding: 0 20px;
	color: #414141;
}


.verMas{
	font-size: 1.2rem;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #C62828;
	color: #ecf0f1;
	padding: 20px 60px;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 20px;
}

.verMas:hover {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0 4px 10px 1px rgba(0,0,0,1);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,1);
}


/* Noticias */


.noticias {
	margin-top: 70px;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	border-radius: 10px;
}

.noticias ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #fff;
	
	width: 95%;
}

.noticias ul li{
	display: flex;
	width: 33%;
	padding: 20px;
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	margin-top: 20px;
	border-radius: 10px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.noticias ul li h3 {
	padding: 20px 0;
	color: #212121;
	font-weight: 400;
}

.noticias ul li p {
	color: #414141;
	font-weight: 300;
}

.noticias ul li span {
	padding: 15px 0;
	align-self: flex-end;
	font-size: 0.8rem;
	color: #838383;
}


/* Contacto */


.contacto {
	height: auto;
	-webkit-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 12px 18px 1px rgba(0,0,0,0.58);
	flex-direction: column;
	background: #e9e9e9;	
	margin: 70px 0;
	padding-bottom: 20px;
	border-radius: 10px;
}

.contacto div {
	position: relative;
	width: 600px;
	margin: auto;
	padding: 20px
}

.contacto form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: #fff;
	margin: 20px;
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
}

.contacto .submit {
	font-size: 1.1rem;
	padding: 10px;
	background: #ff9405;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	width: 50%;
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	border-bottom: 0;
}

.contacto .submit:hover {
    background: #ec8a07;
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
    box-shadow: -1px 4px 5px 1px rgba(0,0,0,0.58);
}

.contacto input {
	padding: 10px;
	width: 80%;
	margin: auto;
	border: none;
	color: #555;
	border-bottom: 2px solid #d1d1d1;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.contacto input:focus {

	border-bottom: 2px solid #d50c14;
}

.contacto .usuario {
	background: url(../img/png/004-user.png) no-repeat 99% 55%;
}

.contacto .telefono {
	background: url(../img/png/003-smartphone.png) no-repeat 99% 55%;
}

.contacto .email {
	background: url(../img/png/002-email.png) no-repeat 99%;
}

.contacto .mensaje {
	background: url(../img/png/001-information-button.png) no-repeat 99% 5%;
	border: none;
	border-bottom: 2px solid #c6c2c2;
	margin-bottom: 40px;
}

.contacto textarea {
	width: 80%;
	height: 200px;
	resize: none;
	margin-bottom: 1em;
	border: 1px solid #CECCCC;
	padding: 10px;
	font-size: 1em;
	color: #555;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.contacto textarea:focus {
	border-bottom:2px solid #ad0000;
}

.contacto form h3 {
	font-weight: 300;
	padding: 10px;
	color: #4b4b4b;
	position: relative;
	align-self: flex-start;
	left: 45px;
	top: 10px;
	font-size: 1rem;
}


/* Footer */


footer {
	display: flex;
	background: #212121;
	color: #fff;
	top: 0;
	width: 100%;
	height: auto;
	overflow: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.opciones {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #C62828;
	text-transform: uppercase;
}

.opciones li {
	padding: 0 20px;
	display: inline-block;
}

.opciones li a {
	font-size: 0.9rem;
}

.contacto_footer {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	list-style: none;
	padding: 10px;
	width: 100%;
	justify-content: space-evenly;
}

.contacto_footer li {
	padding: 0 0 20px;
}

.footer_mail:before {
	content: url(../img/png/contacto.png);
	display: inline-block;
	position: relative;
	right: 10px;
	top: 5px;
}

.copyright {
	display: block;
	width: 100%;
	font-size: 0.8rem;
	text-align: center;
	color: gray;
}

.footer_tel:before {
	content: url(../img/png/telefono.png);
	position: relative;
	display: inline-block;
	right: 10px;
	top: 7px;
}

.social {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	list-style: none;
	padding: 10px;
	width: 100%;
	justify-content: space-evenly;
}

.social li{
	padding: 20px;
}

.social_link {
	display: flex;
	flex-direction: column;
  	align-items: center;
	flex-wrap: wrap;
}

.social_link p {
	padding: 5px;
	font-size: 0.9rem;
}

.social li a img{
	width: 50px;
	height: 50px
}

.buttom {
	position: fixed;
	right: 50px;
	bottom: 10px;
	padding: 10px;
	border-radius: 2px;
 	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  	background-color: #c51414;
  	color: #ecf0f1;
	z-index: 10;
	overflow: auto;
}	


@media screen and (max-width: 1024px) {

	section {
		padding: 10px;
	}

	/* albums */ 
	.albums{
		cursor: pointer;
	}

	/*Modal*/

	.modal {
		width: 90%;
		padding: 10px 0;
	}

	.modal span {
		bottom: 0;
		width: 50%;
		padding: 10px;
	}

	.modal .escucha {
		bottom: 0;
		width: 50%;
		padding: 10px;
	}

	.fondo_modal .modal img {
		width: 70px;
		height: 50px;
		margin: auto;
		padding: 10px;
	}

	.fondo_modal .modal h2,
	.fondo_modal .modal p{
		margin: 0;
		width: 100%;
		padding: 10px 30px;
	}


	/* Noticias */

	.noticias ul {
	}

	.noticias ul li{
		width: 100%;
		padding: 10px;
		margin-top: 20px;
		flex-direction: column;
	}


	/* Contacto */

	.contacto div {
		max-width: 70%;
		padding: 0;
	}

	.contacto form {
		padding: 10px 0;
		margin: 10px;
	}

	.contacto .submit {
		font-size: 1rem;
		padding: 10px;
	}

	.contacto input {
		width: 80%;
		margin: auto;
	}

	.contacto textarea {
		width: 80%;
		color: #555;
	}

	.contacto form h3 {
		font-size: 1rem;
		text-align: center;
		font-weight: 300;
		padding: 20px;
		color: #4b4b4b;
	}

}


@media screen and (max-width: 768px) {
		


	@keyframes slidein {
	  0% {
	    margin-left: 300%;
	    display: flex;
	    justify-content: center;
	    width: 360px;
	  }

	  100% {
	    margin-left: 0;
	    display: flex;
	    justify-content: center;
	    width: 360px;
	  }
	}

	@keyframes latidos {
	    from { 
	    	transform: none; 
	    	position: absolute;
			top: 50%;
			left: 40%;
			width: 100px;
			height: 100px;

	    }
	    50% { 

	    	transform: scale(1.5);
			position: absolute;
			top: 50%;
			left: 40%;
			width: 100px;
			height: 100px;
	     }
	    to { 
	    	transform: none;
	    	position: absolute;
			top: 50%;
			left: 40%;
			width: 100px;
			height: 100px; 
		}
	}

	section {
		padding: 5px;
	}

	/*Header*/
	
	header {
		padding: 0;
	}

	.botton_ham {
		display: flex;
		padding-left: 5px;
		justify-content: center;
		align-items: center;
	}
	
	.botton_ham .ham_img{
		display:  inline-block;
		position: relative;
		top: 0;
		transition: all 0.5s;
	}


	.botton_ham .close_img {
		display: inline-block;
		position: absolute;
		left: -150%;
		transition: all 0.5s;
	}

	header nav {
        position: absolute;
        z-index: 600;
        background: #121212;
        min-width: 100%;
        display: none;
        top: 100%;
	}

	header a {
		align-self: center;
		padding: 10px;
	}

	h1 {
		font-size: 1rem;
	}


	header nav ul li {
		display: block;
	}

	header nav ul li a {
		display: block;
		position: relative;
		left: -15px;
	}

	header nav ul li a:hover{
		box-shadow: inherit;
		background-color: inherit;
		color: #ecf0f1;
		padding: 10px;
	}

	/*Portada*/
	
	.titulo {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.portada {
		background-position: 55% 40px;
	}

	.portada img {
	    top: 50%;
	    left: 40%;
	    width: 100px;
	    height: 100px;
	}

	/*Integrantes*/
	
	.integrantes ul {
		margin-top: 60px;
	}

	/*Modal*/

	.modal {
		width: 95%;
		padding: 10px 0;
	}

	.modal span {
		bottom: 0;
		width: 50%;
		padding: 10px;
	}

	.modal .escucha {
		bottom: 0;
		width: 50%;
		padding: 10px;
	}

	.fondo_modal .modal img {
		width: 70px;
		height: 50px;
		margin: auto;
		padding: 10px;
	}

	.fondo_modal .modal h2,
	.fondo_modal .modal p{
		margin: 0;
		width: 100%;
		padding: 10px 20px;
	}



	
	/* Cierre discografia */

	.albums {
		cursor: pointer;
	}

	.albums h2 {
		bottom: 14%;
	}

	.albums_oculto,
	.albums_oculto_2,
	.albums_oculto_3,
	.albums_oculto_4 {
		display: none;
	}

	.albums_vivo_oculto,
	.albums_vivo_oculto_2,
	.albums_vivo_oculto_3 {
		display: none;
	}


	.flecha,
	.flecha_2 {
		width: 50px;
		height: 50px;
		transform: rotate(0deg);
	}

	/*Fotos*/

	.carousel {
		flex-direction: column;
		align-items: center;
		height: 600px;
	}

	 .arrow_container_left,
	 .arrow_container_right {
		width: 100%;
		justify-content: center;
	}

	.arrow_container_left {
		border-radius: 10px 10px 0 0;
	}

	.arrow_container_right {
		border-radius: 0 0 10px 10px;
	}

	.carousel .arrow_right {
		transform: rotate(0deg)
	}

	.carousel .arrow_left{
		transform: rotate(180deg)
	}

	 .carousel_img {
	 	width: 100%;
	 	margin: 30px;
	 	display: flex;
	 	justify-content: center;
	 }


	/* Historia */


	.historia article {
		display: flex;
		flex-direction: column;
	}


	.historia div article h2 {
		padding: 20px 10px;
	}

	.historia p{
		padding: 0 10px;
	}

	.verMas {
		font-size: 1rem;
		padding: 15px 30px;
		text-transform: uppercase;
		width: 130px;
		align-self: center;
		text-align: center;
	}

	.mobile_none {
		display: none;
	}

  

	/* Noticias */


	.noticias ul {
		flex-direction: column;
	}

	.noticias ul li{
		width: 100%;
		padding: 10px;
	}


	/* Contacto */

	.contacto {
	margin-top: 100px;
	}

	.contacto div {
		max-width: 100%;
		padding: 0;
	}

	.contacto form {
		padding: 10px 0;
		margin: 10px;
	}

	.contacto .submit {
		font-size: 1rem;
		padding: 10px;
	}

	.contacto .submit:hover {
	    background: #ec8a07;
	    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.58);
	    box-shadow: -1px 4px 5px 1px rgba(0,0,0,0.58);
	}

	.contacto input {
		width: 95%;
		margin: auto;
	}

	.contacto textarea {
		width: 95%;
		color: #555;
	}

	.contacto form h3 {
		font-size: 1rem;
		text-align: center;
		font-weight: 300;
		padding: 20px;
		color: #4b4b4b;
		left: 0;
	}

	

  	/*Footer*/

	.opciones {
		padding: 10px;
		width: 100%;
		display: block;
		border-bottom: 1px solid #C62828;
		text-transform: uppercase;
	}

	.opciones li {
		display: block;
	}

	.opciones li a {
		display: block;
		font-size: 1rem;
		width: 100%;
		text-align: center;
		padding: 10px;

	}

	.buttom {
		display: none;
	}	

}


@media screen and (max-width: 480px) {


	@keyframes slidein {
		0% {
		    margin-left: 300%;
		    display: flex;
		    justify-content: center;
		    width: 287px;
		}
		100% {
		    margin-left: 0;
		    display: flex;
		    justify-content: center;
		    width: 287px;
		}
	}

	@keyframes latidos {
	    from { 
	    	transform: none; 
	    	position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px;

	    }
	    50% { 

	    	transform: scale(1.5);
			position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px;
	     }
	    to { 
	    	transform: none;
	    	position: absolute;
			top: 50%;
			left: 35%;
			width: 100px;
			height: 100px; 
		}
	}
  
  	
	.titulo {
		font-size: 1rem;
		font-weight: bold;
	}

	.portada {
		background-position: 70% 50px;
	}

	.portada img {
	    top: 50%;
	    left: 35%;
	    width: 100px;
	    height: 100px;
	}


	/*Dentro de Integrantes y Discografia*/

	.barra_titulo {
		font-size: 0.9rem;
		text-align: center;
	}

	/* modal */

	.modal {
		padding: 20px;
	}

	.fondo_modal .modal h2, .fondo_modal .modal p {
	    margin: 0;
	    width: 100%;
	    padding: 0 0 20px 0;
	}

	/*Discografia*/


	.albums h2 {
		bottom: 12%;
		width: 98%;
	}
	.albums p {
		width: 300px;
	}

  	.albums img {
		width: 300px;
		height: 300px;
	}

	/* Fotos */

	.fotos {
		width: 100%;
	}

	.carousel_img {
	 	width: 100%;
	 	height: 350px;
	 	align-items: center;
	 }

	.carousel_img img {
		width: 100%;
	}

	.carousel {
		height: 550px;
		width: 100%;
	}

	.carousel_img img {
	    width: 100%;
	    height: 250px;
	}

	/*Titulos de las otras seccions*/

	.titulo_barra {
		text-align: center;
	}



 }




